In [1]:
import pandas as pd

/Users/misha/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

### Lets look at some rows...

In [2]:
df = pd.read_csv("Restaurant_Grades.csv")
df.head(3)

,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE
0,SOFRA HOMEMADE FOOD,Brooklyn,2122,86 STREET,11214.0,Turkish,Hand washing facility not provided in or near ...,Critical,19,B,06/05/2013,01/24/2022
1,SOFRA HOMEMADE FOOD,Brooklyn,2122,86 STREET,11214.0,Turkish,Non-food contact surface improperly constructe...,Not Critical,19,B,06/05/2013,01/24/2022
2,SOFRA HOMEMADE FOOD,Brooklyn,2122,86 STREET,11214.0,Turkish,Cold food item held above 41ยบ F (smoked fish a...,Critical,19,B,06/05/2013,01/24/2022

In [3]:
# Replace spaces with underscores
df.columns = df.columns.str.replace("CUISINE DESCRIPTION","CUISINE")
df.columns = df.columns.str.replace(" ","_")
# Convert dates to datetime
df.GRADE_DATE = pd.to_datetime(df.GRADE_DATE, format="%m/%d/%Y")
df.RECORD_DATE = pd.to_datetime(df.RECORD_DATE, format="%m/%d/%Y")

In [4]:
df.value_counts()

DBA                    BORO       BUILDING  STREET                  ZIPCODE  CUISINE             VIOLATION_DESCRIPTION                                                                                                                                                                                                                                                            CRITICAL_FLAG  SCORE  GRADE  GRADE_DATE  RECORD_DATE
RADIO CITY MUSIC HALL  Manhattan  1260      AVENUE OF THE AMERICAS  10020.0  American            Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   2      A      2018-11-09  2022-01-24     4
CAFE GITANE            Manhattan  242       MOTT STREET             10012.0  Moroccan            Proper sanitization not provided for utensil ware washing operation.                                                                                                                                                                                                             Not Critical   10     A      2019-10-04  2022-01-24     3
DUNKIN                 Brooklyn   2978      CROPSEY AVENUE          11214.0  Donuts              Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   9      A      2018-01-09  2022-01-24     3
U-ME SUSHI             Queens     8509      JAMAICA AVE             11421.0  Asian/Asian Fusion  Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   13     C      2019-10-24  2022-01-24     3
UA COURT STREET #12    Brooklyn   106       COURT STREET            11201.0  American            Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   4      A      2019-05-23  2022-01-24     3
                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
GIANNI'S               Queens     8113      NORTHERN BLVD           11372.0  Pizza               Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.                                                                                                                                               Not Critical   11     A      2018-12-18  2022-01-24     1
                                                                                                 Food contact surface not properly washed, rinsed and sanitized after each use and following any activity when contamination may have occurred.                                                                                                                                   Critical       8      A      2019-08-26  2022-01-24     1
                                                                                                 Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   11     A      2018-12-18  2022-01-24     1
GIANO                  Manhattan  126       EAST    7 STREET        10009.0  Italian             Evidence of mice or live mice present in facility's food and/or non-food areas.                                                                                                                                                                                                  Critical       12     A      2018-03-08  2022-01-24     1
wok and roll kitchen   Brooklyn   1821      CHURCH AVENUE           11226.0  Other               Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   10     A      2019-03-27  2022-01-24     1
Length: 167602, dtype: int64

### Let's zoom into 2021

In [6]:
this_year = df[df['GRADE_DATE'].dt.year == 2021]
this_year.value_counts()

DBA                              BORO       BUILDING  STREET            ZIPCODE  CUISINE                         VIOLATION_DESCRIPTION                                                                                                                                                                                                                                                            CRITICAL_FLAG  SCORE  GRADE  GRADE_DATE  RECORD_DATE
LA PALAPA TACOS                  Manhattan  230       PARK AVENUE       10169.0  Tex-Mex                         Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   9      A      2021-08-23  2022-01-24     3
GO CUPS                          Manhattan  1838      2 AVENUE          10128.0  Juice, Smoothies, Fruit Salads  Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   9      A      2021-08-27  2022-01-24     3
CHIU'S GARDEN                    Queens     13844     84TH DR           11435.0  Other                           Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   5      A      2021-11-26  2022-01-24     3
LITTLE CAESARS                   Brooklyn   8008      FLATLANDS AVENUE  11236.0  Pizza                           Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   12     A      2021-08-30  2022-01-24     3
STARBUCKS COFFEE COMPANY #29897  Manhattan  605       3 AVENUE          10158.0  Coffee/Tea                      Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   4      A      2021-08-13  2022-01-24     3
                                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
FORT HAMILTON DINER              Brooklyn   9502      FOURTH AVENUE     11209.0  American                        Tobacco use, eating, or drinking from open container in food preparation, food storage or dishwashing area observed.                                                                                                                                                             Critical       12     A      2021-08-26  2022-01-24     1
                                                                                                                 Food not cooled by an approved method whereby the internal product temperature is reduced from 140ยบ F to 70ยบ F or less within 2  hours, and from 70ยบ F to 41ยบ F or less within 4 additional hours.                                                                               Critical       12     A      2021-08-26  2022-01-24     1
FORSYTHIA                        Manhattan  9         STANTON STREET    10002.0  Italian                         Facility not vermin proof. Harborage or conditions conducive to attracting vermin to the premises and/or allowing vermin to exist.                                                                                                                                               Not Critical   9      A      2021-11-16  2022-01-24     1
                                                                                                                 Evidence of rats or live rats present in facility's food and/or non-food areas.                                                                                                                                                                                                  Critical       9      A      2021-11-16  2022-01-24     1
red bamboo                       Manhattan  140       WEST    4 STREET  10012.0  Chinese                         Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.  Not Critical   10     A      2021-11-09  2022-01-24     1
Length: 9192, dtype: int64

### It seems like restaurants have more than 1 inspections, let's deal with that

In [7]:
this_year["KEY"] = this_year[['DBA', 'BUILDING', "STREET", "ZIPCODE"]].astype(str).apply(lambda x: ' '.join(x), axis=1)
print("num ratings: {} num unique restaurants: {}".format(len(this_year), len(this_year.KEY.unique())))

num ratings: 10052 num unique restaurants: 4073

/var/folders/7j/5h5yf6k54nz1ys4trym9bls40000gn/T/ipykernel_32098/3272442714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  this_year["KEY"] = this_year[['DBA', 'BUILDING', "STREET", "ZIPCODE"]].astype(str).apply(lambda x: ' '.join(x), axis=1)

### We can now either use the most recent score or an average of all the scores, let's try both

In [9]:
fscore = this_year.groupby("SCORE").SCORE.agg(["count"])
fscore["perc"] = fscore / fscore.sum() * 100

fscore_recent = this_year.drop_duplicates("KEY").groupby("SCORE").GRADE.agg(["count"])
fscore_recent["perc"] = fscore_recent / fscore_recent.sum() * 100

fscore = fscore.join(fscore_recent,lsuffix=" all", rsuffix=" most recent")#
fscore.style.format("{:,.2f}")

### I used the table above to make my graph on Datawrapper!!